<mat-nav-list class="custom-sidenav">
    <a *ngIf="accessLevel == 1" mat-list-item routerLink="/gestion-des-utilisateurs">
        <mat-icon>account_box</mat-icon><span class="nav-caption margin-left" *ngIf="isShowTitle">Utilisateurs</span>
    </a>
    <a *ngIf="accessLevel == 1 || accessLevel == 2" mat-list-item routerLink="/gestion-des-activités">
        <mat-icon>local_activity</mat-icon><span class="nav-caption margin-left" *ngIf="isShowTitle">Activités</span>
    </a>
    <a *ngIf="accessLevel == 1 || accessLevel == 2" mat-list-item routerLink="/gestion-des-projets">
        <mat-icon>source</mat-icon><span class="nav-caption margin-left" *ngIf="isShowTitle">Projets</span>
    </a>
    <a *ngIf="accessLevel == 1" mat-list-item routerLink="/gestion-des-comptes-de-depenses">
        <mat-icon>monetization_on</mat-icon><span class="nav-caption margin-left" *ngIf="isShowTitle">Comptes de Dépense</span>
    </a>
    <mat-divider></mat-divider>
    <a *ngIf="accessLevel == 1 || accessLevel == 2 || accessLevel == 3" mat-list-item (click)="openReportReqDialog('temps')">
        <mat-icon>view_list</mat-icon><span class="nav-caption margin-left" *ngIf="isShowTitle">Gérer lignes de temps</span>
    </a>

    <a *ngIf="accessLevel == 1 || accessLevel == 2 || accessLevel == 3" mat-list-item (click)="openReportReqDialog('rapport')">
        <mat-icon>remove_red_eye</mat-icon><span class="nav-caption margin-left" *ngIf="isShowTitle">Générer rapport</span>
    </a>

</mat-nav-list>
