<div>
  <h2 mat-dialog-title>Supprimer un compte de dépense</h2>
  <div mat-dialog-content>
      <div *ngIf="!data.isDeletable" class="alert alert-danger" role="alert">
        Le compte de dépense possède des comptes enfants ou il est présent dans une ligne de temps.<br />
    </div>
    <p>Voulez-vous vraiment supprimer le compte {{ data.name }}?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="delete-cancel-button" (click)="onNoClick()" [mat-dialog-close]="canceledMessage" cdkFocusInitial>Annuler</button>
    <button mat-button class="delete-confirm-button" [disabled]="!data.isDeletable" [mat-dialog-close]="data">Confirmer</button>
  </div>
</div>
