.container-404{
    width: 400px;
    height: 388px;

    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
    right: 0;

    margin: auto;
}

.container-404 button{
    background-color: #3E63A7;
    color: white;
}

.container-404 img{
    width: 100%;
}
