<div>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="table-of-timeline">

        <!-- Colonne Jour de la semaine -->
        <ng-container matColumnDef="jour">
            <mat-header-cell *matHeaderCellDef>Jour</mat-header-cell>
            <mat-cell *matCellDef="let timeline">{{ timeline.day_of_week }}</mat-cell>
        </ng-container>

        <!-- Colonne heure -->
        <ng-container matColumnDef="heures">
            <mat-header-cell *matHeaderCellDef>Heure</mat-header-cell>
            <mat-cell *matCellDef="let timeline">{{ timeline.punch_in }} à {{ timeline.punch_out }}</mat-cell>
        </ng-container>

        <!-- Colonne membre -->
        <ng-container matColumnDef="membre">
            <mat-header-cell *matHeaderCellDef>Membre</mat-header-cell>
            <mat-cell *matCellDef="let timeline">{{ timeline.first_name }}<br>{{ timeline.last_name }}</mat-cell>
        </ng-container>

        <!-- Colonne nom du projet -->
        <ng-container matColumnDef="projet">
            <mat-header-cell *matHeaderCellDef>Projet</mat-header-cell>
            <mat-cell *matCellDef="let timeline">{{ timeline.project_name }}</mat-cell>
        </ng-container>

        <!-- Colonne nom de l'activité -->
        <ng-container matColumnDef="activiter">
            <mat-header-cell *matHeaderCellDef>Activité</mat-header-cell>
            <mat-cell *matCellDef="let timeline">{{ timeline.activity_name }}</mat-cell>
        </ng-container>

        <!-- Colonne nom du compte de dépense -->
        <ng-container matColumnDef="compteDepense">
            <mat-header-cell *matHeaderCellDef>Dépense</mat-header-cell>
            <mat-cell *matCellDef="let timeline">{{ timeline.expense_name }}</mat-cell>
        </ng-container>
    
        <!-- Colonne action -->
        <ng-container matColumnDef="operations">
            <mat-header-cell *matHeaderCellDef> Opérations </mat-header-cell>
            <mat-cell *matCellDef="let timeline" align="right">
                <button mat-raised-button color="primary" (click)="onModifyTimeline(timeline)"><mat-icon>edit</mat-icon></button>
                <button mat-raised-button color="warn" (click)="onDeleteTimeline(timeline)"><mat-icon>delete</mat-icon></button>
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
