<div>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="table-of-timeline">

        <!-- Colonne Jour de la semaine -->
        <ng-container matColumnDef="jour">
            <mat-header-cell *matHeaderCellDef>
                <mat-form-field class="date-filter-field">
                    <mat-label>Date </mat-label>
                    <input matInput [matDatepicker]="picker" (dblclick)="resetDateFilter()" [(ngModel)]="dateFilter" (ngModelChange)="onFilterChanged()" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle >
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-header-cell>
            <mat-cell *matCellDef="let timeline">{{ timeline.day_of_week }}</mat-cell>
        </ng-container>

        <!-- Colonne heure -->
        <ng-container matColumnDef="heures">
            <mat-header-cell *matHeaderCellDef>Heure</mat-header-cell>
            <mat-cell *matCellDef="let timeline">{{ timeline.punch_in }} à {{ timeline.punch_out }}</mat-cell>
        </ng-container>

        <!-- Colonne membre -->
        <ng-container matColumnDef="membre">
            <mat-header-cell *matHeaderCellDef>
                <input class="custom-filter" matInput placeholder="Membre" (ngModelChange)="onFilterChanged()" [formControl]="memberFilter">
            </mat-header-cell>
            <mat-cell *matCellDef="let timeline">{{ timeline.first_name }} {{ timeline.last_name }}</mat-cell>
        </ng-container>

        <!-- Colonne nom du projet -->
        <ng-container matColumnDef="projet">
            <mat-header-cell *matHeaderCellDef class="on-small-screen-hide">
                <input class="custom-filter" matInput placeholder="Project" (ngModelChange)="onFilterChanged()" [formControl]="projectFilter">
            </mat-header-cell>
            <mat-cell *matCellDef="let timeline" class="on-small-screen-hide">{{ timeline.project_name }}</mat-cell>
        </ng-container>

        <!-- Colonne nom de l'activité -->
        <ng-container matColumnDef="activiter">
            <mat-header-cell *matHeaderCellDef>
                <input class="custom-filter" matInput placeholder="Activité" (ngModelChange)="onFilterChanged()" [formControl]="activityFilter">
            </mat-header-cell>
            <mat-cell *matCellDef="let timeline">{{ timeline.activity_name }}</mat-cell>
        </ng-container>

        <!-- Colonne nom du compte de dépense -->
        <ng-container matColumnDef="compteDepense">
            <mat-header-cell *matHeaderCellDef class="on-small-screen-hide">
                <input class="custom-filter" matInput placeholder="Dépense" (ngModelChange)="onFilterChanged()" [formControl]="expenseFilter">
            </mat-header-cell>
            <mat-cell *matCellDef="let timeline" class="on-small-screen-hide">{{ timeline.expense_name }}</mat-cell>
        </ng-container>
    
        <!-- Colonne action -->
        <ng-container matColumnDef="operations">
            <mat-header-cell *matHeaderCellDef> Opérations </mat-header-cell>
            <mat-cell *matCellDef="let timeline" align="right">
                <button mat-raised-button color="primary" (click)="onModifyTimeline(timeline)"><mat-icon>edit</mat-icon></button>
                <button mat-raised-button color="warn" (click)="onDeleteTimeline(timeline)"><mat-icon>delete</mat-icon></button>
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
