<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>