<form [formGroup]="newActivityForm" (ngSubmit)="onSubmit()" #myform="ngForm" class="example-form">
    <h1>{{ (isCreateForm) ? "Création" : "Modification" }} d'une activité</h1>
    
    <div *ngIf="!isUnique" class="alert alert-danger" role="alert">
        L'activité doit être unique !
    </div>

    <mat-form-field class="full-width">
        <mat-dialog-content class="mat-typography">
            <label for="activityName">Nom de l'activité</label>
            <input matInput (ngModelChange)="checkUniqueName($event)" type="text" id="activityName" class="form-control" formControlName="activityName" autocomplete="off">
        </mat-dialog-content>
    </mat-form-field>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button type="submit" [disabled]="!newActivityForm.valid || !isUnique || isUnmodifiedValue">{{ (isCreateForm) ? "Ajouter" : "Modifier" }}</button>
    </mat-dialog-actions>
</form>
    