/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/material.theme.css";
html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/******************************************/
/*             SNACK BAR NOTIF           */

.notif-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.notif-success button{
    -webkit-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
    border: 1px solid #155724;
    color: #155724;
}

.notif-success button:hover{
    color: #d4edda;
    background-color: #155724;
}

.notif-error button:hover{
    color: #f8d7da;
    background-color: #721c24;
    color: #f5c6cb;
}

.notif-error button{
    -webkit-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
    color: #721c24;
    border: 1px solid #721c24;
}

.notif-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/******************************************/

.full-width{
    width: 100%;
}

.half-width {
    width: 50%;
}

.hidden{
    display: none;
}

/******************************************/
/*             Alert de bootstrap         */
.alert{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-no-padding{
    position: relative;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-warning{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-secondary{
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert-danger{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-primary{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
/******************************************/

/******************************************/
/*          Button de bootstrap           */

.btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-success{
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745 !important;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-danger {
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545 !important;
}

.btn-outline-warning:hover {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-outline-warning {
    color: #ffc107;
    background-color: transparent;
    background-image: none;
    border-color: #ffc107 !important;
}

.btn{
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/******************************************/

.custom-default-config{
    
}

.delete-confirm-button{
    border: 2px solid #721c24!important;
    color: #721c24 !important;
    background-color: #FFFFFF !important;
}

.delete-cancel-button{
    border: 2px solid #c3e6cb!important;
    color: #155724 !important;
    background-color: #d4edda !important;
}

.warning-dialog .mat-dialog-container{
    color: #721c24;
    border: 2px solid #721c24;
}

.div-spacer-60{
    margin: 30px 0;
}

.div-spacer-30{
    margin: 15px 0;
}

.main-container-95{
    width: 95%;
    margin: auto;
}

.mat-column-operations{
    flex: 0 0 150px;
 }