<div class="page-container">
    <div class="home-header" [ngClass]="isAuthenticated ? '' : 'hide-header'">
      <app-header #header></app-header>
    </div>
    <mat-drawer-container class="sidenav-container" autosize>
      <mat-drawer
        #drawer disableClose
        mode="side" opened="false"
        class="example-sidenav side-drawer"
        [ngClass]="isAuthenticated ? '' : 'hide-drawer'"
      >
        <app-sidenav></app-sidenav>
        <div class="sidenav-drawer-button" (click)="toggleSidebar()">
          <div class="drawer-arrow" *ngIf="isShowTitle">
            <mat-icon>arrow_back_ios</mat-icon>
            <mat-icon>arrow_back_ios</mat-icon>
          </div>
          <div class="drawer-arrow" *ngIf="!isShowTitle">
            <mat-icon>arrow_forward_ios</mat-icon>
            <mat-icon>arrow_forward_ios</mat-icon>
          </div>
            <p *ngIf="isShowTitle">Cacher navigation</p>
        </div>
      </mat-drawer>

      <div class="sidenav-content margin-top">
        <app-login *ngIf="router.url === '/'"></app-login>
        <router-outlet></router-outlet>
      </div>

    </mat-drawer-container>

</div>
