.timelines-table {
    margin-left: auto;
    margin-right: auto;
    min-width: 70%;
}

.conteneur-principal {
    padding-bottom: 50px;
}

.button-header {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.jour-form-widget {
    width:130px !important;
}

.heure-form-widget {
    width:85px !important;
}

.changed-row {
    background-color: rgb(255, 218, 149);
}

.new-row {
    background-color: rgb(160, 248, 109);
}

.delete-row {
    background-color: rgb(248, 109, 109);
}
