<mat-nav-list>

    <a *ngIf="accessLevel == 1" mat-list-item routerLink="/users-managing">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Utilisateurs</span>
    </a>
    <a *ngIf="accessLevel == 1 || accessLevel == 2" mat-list-item routerLink="/activity-managing">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Activités</span>
    </a>
    <a *ngIf="accessLevel == 1 || accessLevel == 2" mat-list-item routerLink="/project-managing">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Projets</span>
    </a>
    <a *ngIf="accessLevel == 1 || accessLevel == 2" mat-list-item routerLink="/expense-account-managing">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Comptes de Dépense</span>
    </a>

    <a *ngIf="accessLevel == 1 || accessLevel == 2" mat-list-item routerLink="/timeline">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Ligne de temps</span>
    </a>
</mat-nav-list>
