<div>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="alert-no-padding {{ messageClasse }}">
            <mat-panel-title class="custom-mat-title">Heures travaillés</mat-panel-title>
            <mat-panel-description>{{ message }}</mat-panel-description>
        </mat-expansion-panel-header>
        <div id="step-5" class="accordion-container">
            <div *ngFor="let workingTimeline of workingTimelines; let timeLineIndex=index" class="timeline-container">
                <div class="time-picker-hover-div" [ngClass]="{'supression-effect' : workingTimelines.length - 1 == timeLineIndex && removeLastTimelineHover == 1}"></div>
                <mat-form-field>
                    <mat-label>Choisir une date </mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="workingTimeline.date" placeholder="mm/jj/aaaa">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle >
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button (mouseover)="buttonId=timeLineIndex" (mouseleave)="buttonId=-1" *ngIf="workingTimeline.shift.length > 1 && canAddMoreHours" class="button-display-3Q button-remove-hours" mat-fab color="primary"(click)="removeShift(timeLineIndex)">
                    <mat-icon class="icon-display">alarm_off</mat-icon>
                </button>
                <div>
                    <div class="time-picker-row" *ngFor="let shift of workingTimeline.shift; let shiftIndex=index" id="{{(workingTimeline.shift.length - 1) == shiftIndex ? 'row-add-effect': ''}}">
                        <div class="time-picker-hover-div" [ngClass]="{'supression-effect' : workingTimeline.shift.length - 1 == shiftIndex && buttonId==timeLineIndex}" *ngIf="workingTimeline.shift.length - 1 == shiftIndex">
                        </div>
                        <div class="time-picker">
                            <p>Heure début :</p>
                            <ngx-timepicker-field [format]="24" [(ngModel)]="shift.begin"></ngx-timepicker-field>
                        </div>
                        <div class="time-picker">
                            <p>Heure fin :</p>
                            <ngx-timepicker-field [format]="24" [(ngModel)]="shift.end" ></ngx-timepicker-field>
                        </div>
                    </div>
                    <div class="add-button-relative" *ngIf="canAddMoreHours">
                        <button class="button-add-hours button-display-demi" mat-fab color="primary"(click)="addShift(timeLineIndex)">
                            <mat-icon class="icon-display">alarm_add</mat-icon>
                        </button>
                        <div class="under-line"></div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="div-spacer-30"></div>
            </div>
            <div style="margin-bottom: 15px;" *ngIf="canAddMoreHours">
                <button class="" color="primary" mat-raised-button color="primary" (click)="addTimeline()">
                    Ajouter une plage horaire
                </button>
                <button *ngIf="workingTimelines.length > 1" (mouseover)="removeLastTimelineHover=1" (mouseleave)="removeLastTimelineHover=-1" mat-raised-button color="warn" (click)="removeTimeline()" style="margin-left:50px">
                    Retirer la dernière plage horaire
                </button>
            </div>
            <mat-divider *ngIf="canAddMoreHours"></mat-divider>
            <div style="margin-top:30px;">
                <button mat-raised-button color="primary" (click)="validateAllTimeLine()">Je confirme les heures</button>
            </div>
        </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>