.time-picker-row .time-picker{
    display: inline-block;
}

.time-picker-row{
    margin-left: 40px;
    position: relative;
}

.timeline-container{
   position: relative;
}

.time-picker-hover-div{
   position: absolute;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0);
   z-index: 20;
   pointer-events: none
}

.button-display-demi {
    transform: scale(0.5);
 }

 .button-display-3Q {
    transform: scale(0.75);
 }

 .button-add-hours:hover ~ .under-line{
    border: 1px solid #04af20;
 }

 .button-add-hours:hover{
     background-color: #04af20;
 }

.button-remove-hours:hover > .time-picker-row{
   background-color: red;
}

.supression-effect{
   background-color: white;
   animation-name: supression-effect-color;
   animation-duration: 1.5s;
   animation-iteration-count: infinite;
}

@keyframes supression-effect-color {
   0% {
     background-color: rgba(0, 0, 0, 0);
   }
   50% {
     background-color: rgba(255,255,255,1);
   }
   100%{
      background-color: rgba(0, 0, 0, 0);
   }
 }

.button-remove-hours:hover{
   background-color: red;
}

 .button-remove-hours{
   background-color: #F44336;
   transition: background-color 0.5s ease;
   margin-left: 70px;
 }

 .icon-display {
    transform: scale(2);
 }

 .add-button-relative{
    position: relative;
    bottom: 46px;
    width: 0px;
 }

 .button-add-hours{
    transition: background-color 0.5s ease;
    position: relative;
    bottom: -15px;
    z-index: 10;
    left: -12px;
 }

 .under-line{
    transition: border-color 0.5s ease;
    border: 1px solid #3F51B5;
    position: absolute;
    width: 2000px;
    bottom: 6px;
    left: 22px;

 }

 .mat-divider-margin{
    margin-bottom: 10px;
 }