<form [formGroup]="modifyUserForm" (ngSubmit)="onSubmit()">
    <h2 mat-dialog-title *ngIf="!isCurrentUser">Modifier un utilisateur</h2>
    <h2 mat-dialog-title *ngIf="isCurrentUser">Modifier votre compte</h2>
    
    <mat-dialog-content class="mat-typography">

        <input type="hidden" id="id" class="form-control" formControlName="id">
        <input type="hidden" id="email" class="form-control" formControlName="email">
        
        <mat-form-field class="full-width">
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Prénom" formControlName="firstName" autocomplete="off">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Nom de famille</mat-label>
            <input matInput placeholder="Nom de famille" formControlName="lastName" autocomplete="off">
        </mat-form-field>

        <div class="alert alert-warning" *ngIf="isCurrentUser">Si vous modifiez votre adresse courriel, il faudra vous re-authentifier.</div>
        <mat-form-field class="full-width">
            <mat-label>Adresse courriel</mat-label>
            <input matInput 
                placeholder="Adresse courriel" 
                formControlName="newEmail" 
                (ngModelChange)="checkUniqueEmail($event)" 
                autocomplete="off">
        </mat-form-field>

        <div *ngIf="!isUnique" class="alert alert-danger" role="alert">
            L'adresse courriel doit être unique!
        </div>

        <ng-select 
            [items]="roles"
            bindLabel="name"
            placeholder="Rôle choisi"
            appendTo="body"
            formControlName="roles">
        </ng-select>

    </mat-dialog-content>
    <br/>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="warn" mat-dialog-close [mat-dialog-close]="canceledMessage">Annuler</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!modifyUserForm.valid || !isUnique">Sauvegarder</button>
    </mat-dialog-actions>
</form>
