<div>
  <h2 mat-dialog-title>Supprimer un projet</h2>
  <div mat-dialog-content>
      <div *ngIf="!data.isDeletable" class="alert alert-danger" role="alert">
        Le projet possède des projets enfants ou il est présent dans une ligne de temps.<br />
    </div>
    <p>Vous êtes sur le point de supprimer {{ data.name }}.</p>
    <p>Voulez-vous vraiment supprimer ce projet?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="delete-confirm-button" [disabled]="!data.isDeletable" [mat-dialog-close]="data">Confirmer</button>
    <button mat-button class="delete-cancel-button" (click)="onNoClick()" [mat-dialog-close]="canceledMessage">Annuler</button>
  </div>
</div>
