.cancel-timeline-button{
    margin-left: 40px;
}

@media screen and (max-width: 680px) {
    .cancel-timeline-button{
        margin-left: 0px;
        display: block;
        margin-top: 10px;
    }
  }