<div>
    <mat-card-title>Modifier une ligne de temps</mat-card-title>
    <mat-card-actions>
        <button mat-raised-button color="warn" class="cancel-timeline-button" (click)="onCancel()" >Annuler la modification</button>
    </mat-card-actions>
    <mat-card-content>

        <app-add-timeline-step1 (isFormValidEvent)="onChildStateChange(1, $event)" (ouputUser)="setUser($event)" #memberChild></app-add-timeline-step1>
        <app-add-timeline-step2 (isFormValidEvent)="onChildStateChange(2, $event)" (ouputProject)="setProject($event)" #projectChild></app-add-timeline-step2>
        <app-add-timeline-step3 (isFormValidEvent)="onChildStateChange(3, $event)" (ouputActivity)="setActivity($event)" #activityChild></app-add-timeline-step3>
        <app-add-timeline-step4 (isFormValidEvent)="onChildStateChange(4, $event)" (ouputExpenseAccount)="setExpenseAccount($event)" #expenseChild></app-add-timeline-step4>
        <app-add-timeline-step5 (isFormValidEvent)="onChildStateChange(5, $event)" (ouputWorkingShift)="setWorkingShift($event)" #timelineChild></app-add-timeline-step5>

        <div class="div-spacer-60"></div>

        <div class="pulse-submit-container">
            <div [ngClass]="(isReadyToSubmit) ? 'pulse' : 'pulse-off'">
                <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]='!isReadyToSubmit'>Modifier la ligne de temps</button>
            </div>
        </div>

    </mat-card-content>
</div>
