<form [formGroup]="ExpenseForm" (ngSubmit)="onSubmit()" #myform="ngForm" class="example-form">
    <h1>{{ (isCreateForm) ? "Création" : "Modification" }} d'un compte de dépense</h1>
    <div class="container">
        <div *ngIf="isAddedFailled" class="alert alert-danger" role="alert">
            Une erreur s'est produit lors de la soumission du formulaire.<br />
            Veuillez vérifier les champs et essayer de nouveau.
        </div>
        <mat-form-field class="full-width">
            <mat-label>Nom du compte de depense</mat-label>
            <input matInput placeholder="Nom du compte" formControlName="name">
            <mat-error *ngFor="let validation of validationMessages.name">
                <mat-error class="error-message" 
                *ngIf="ExpenseForm.get('name').hasError(validation.type) &&
                ((ExpenseForm.get('name').dirty || ExpenseForm.get('name').touched))">
                    {{validation.message}}
                </mat-error>
            </mat-error>
            
        </mat-form-field>
    </div>
    <div class="container"  fxLayout="row" fxLayoutAlign="start center">
        <div fxflex class="container" fxLayout="row" fxLayoutAlign="start center">
            <mat-label> Le compte {{ ExpenseForm.get('name').value }} &nbsp;&nbsp;</mat-label>
            <mat-slide-toggle (ngModelChange)="isChildChecked($event)" formControlName="isChild">
                {{ (ExpenseForm.get('isChild').value) ? "sera enfant de:" : "sera à la racine" }}
                </mat-slide-toggle>
        </div>

        <div fxflex fxFlex="50%" *ngIf="ExpenseForm.value.isChild">
            <ng-select 
                [items]="parentOptions"
                bindLabel="nomAffichage"
                placeholder="compte parent choisi"
                appendTo="body"
                formControlName="parent">         
            </ng-select>
            <mat-error *ngFor="let validation of validationMessages.parent">
                <mat-error class="error-message" 
                *ngIf="ExpenseForm.get('parent').hasError(validation.type) && 
                ((ExpenseForm.get('parent').dirty || ExpenseForm.get('parent').touched))">
                    {{validation.message}}
                </mat-error>
            </mat-error>
        </div>
    </div>

    <mat-dialog-actions align="end">
        <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="ExpenseForm.invalid">
            {{(isCreateForm) ? "Ajouter" : "Enregistrer"}}
        </button>
    </mat-dialog-actions>
</form>
 