<div fxLayout="row" *ngIf="this.reportRequest">
    <mat-accordion fxFlexOffset="5" fxFlex="90">
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Paramètres de la requête
                </mat-panel-title>
                <mat-panel-description>
                    Les paramètres ayant servi à générer le rapport
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="row">
                <h3>{{ afficherPeriodes() }}</h3>
            </div>
            <div fxLayout="row" fxLayout.lt-md="column" >
                <div fxflex fxFlex="33.3" fxflex.lt-md="100" >
                    <div *ngIf="!(reportRequest.projects.length > 0)" fxLayout="row" fxLayoutAlign="space-around center">
                        <h3>Sans limite de projets</h3>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="5px" *ngIf="reportRequest.projects.length > 0">
                        <div *ngIf="reportRequest.projects.length == 1">
                            <h3>Limité au projet suivant:</h3>
                        </div>
                        <div *ngIf="reportRequest.projects.length > 1">
                            <h3>Limité aux projets suivants:</h3>
                        </div>
                        <mat-chip-list class="mat-chip-list-stacked">
                            <mat-chip color="primary" *ngFor="let projet of reportRequest.projects">
                                {{ projet.name | titlecase }}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
                <div fxflex fxFlex="33.3" fxflex.lt-md="100">
                    <div *ngIf="!(reportRequest.activitys.length > 0)" fxLayout="row" fxLayoutAlign="space-around center">
                        <h3>Sans limite d'activités</h3>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="5px" *ngIf="reportRequest.activitys.length > 0">
                        <div *ngIf="reportRequest.activitys.length == 1">
                            <h3>Limité à l'activité suivante:</h3>
                        </div>                                    
                        <div *ngIf="reportRequest.activitys.length > 1">
                            <h3>Limité aux activités suivantes:</h3>
                        </div>
                        <mat-chip-list class="mat-chip-list-stacked">
                            <mat-chip color="primary" *ngFor="let activity of reportRequest.activitys">
                                {{ activity.name | titlecase }}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>

                <div fxflex fxFlex="33.3" fxflex.lt-md="100">
                    <div *ngIf="!(reportRequest.users.length > 0)" fxLayout="row" fxLayoutAlign="space-around center">
                        <h3>Sans limite d'utilisateurs</h3>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="5px" *ngIf="reportRequest.users.length > 0">
                        <div *ngIf="reportRequest.users.length == 1">
                            <h3>Limité à l'utilisateur suivant:</h3>
                        </div>
                        <div *ngIf="reportRequest.users.length > 1">
                            <h3>Limité aux utilisateurs suivants:</h3>
                        </div>
                        <mat-chip-list class="mat-chip-list-stacked">
                            <mat-chip color="primary" *ngFor="let user of reportRequest.users">
                                {{ user.display_string | titlecase }}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>