.hidden{
    display: none;
}

#autocomplete-table{
    width: 100%;
}

#autocomplete-table td{
    padding: 5px 0;
}

#autocomplete-table tr:hover{
    background-color: #E0E0E0;
    cursor: pointer;
}

.test{
    background-color: red;
    cursor: pointer;
}