<div class="wrapper">
	<div class="container">
        <div class="login-container">
            <h1>{{ conf.pageTitle }}
                <span style="opacity: 0;" [ngClass]="isAuthenticated ? 'show-name' : 'hidden'" >
                    {{ conf.userName | titlecase }}
                </span>
            </h1>

            <p style="color:red">{{ conf.message }}</p>

            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form" *ngIf="!isAuthenticated">
                <a (click)="flogin()">Connexion google</a>
                <mat-form-field appearance="fill" class="form-element" >
                    <mat-label>Courriel</mat-label>
                    <input id="emailInput" matInput formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-element">
                    <mat-label>Mot de passe</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
                <div class="form-element">
                    <button id="login-button" mat-raised-button color="white" type="submit" class="button" [disabled]="!formGroup.valid">Connexion</button>
                </div>
            </form>
        </div>
    </div>
    <ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
