<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>
            <input class="name-filter" matInput placeholder="Nom" (ngModelChange)="onNameFilterChanged()" [formControl]="nameFilter">
        </mat-header-cell>
        <mat-cell *matCellDef="let activity">
            <div id="showName-{{activity.id}}" style="text-align: left;">
                {{activity.name}}
            </div>
            
        </mat-cell>
    </ng-container>

        <!-- Colonne opération -->
    <ng-container matColumnDef="operations">
        <mat-header-cell *matHeaderCellDef> Opérations </mat-header-cell>
        <mat-cell *matCellDef="let activity" align="left">
            <div>
                <div>
                    <button mat-raised-button color="primary" (click)="openEditDialog(activity)"><mat-icon>edit</mat-icon></button>
                    <button mat-raised-button color="warn" [disabled]="isViewInitDone && activity.nbLignesDeTemps > 0"
                        matTooltip="Ne peut être supprimé car contient {{ activity.nbLignesDeTemps }} lignes de temps"
                        matTooltipPosition="after"
                        [matTooltipDisabled]="activity.nbLignesDeTemps <= 0"
                        matTooltipClass="custom-tooltip"
                        (click)="openDeleteDialog(activity)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
