<div>
    <h1>project-manager-content works!</h1>
    <button mat-raised-button color="primary" (click)="openDialog()">Utilisateurs</button>

    <nav id="side-menu" role="navigation">
      <div id="activityToggle" class="menuToggle">
        <div class="toggleButton">
          <span>Activités</span>
        </div>
        <ul id="activityToggleMenu" class="subMenu">
          <a href="#"><li>Ajouter</li></a>
          <a href="#"><li>About</li></a>
          <a href="#"><li>Info</li></a>
          <a href="#"><li>Contact</li></a>
        </ul>
      </div>
    </nav>

    <app-activity></app-activity>

</div>
