<div class="login-container">
    <h1>Authentification</h1>

    <p style="color:red">{{ message }}</p>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field appearance="fill" class="form-element" >
            <mat-label>Courriel</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-element">
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password">
        </mat-form-field>
        <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Connexion</button>
        </div>
    </form>
    
</div>