<form [formGroup]="newProjectForm" (ngSubmit)="onSubmit()">
    <h1>{{ (isCreateForm) ? "Création" : "Modification" }} d'un projet</h1>
    <mat-dialog-content class="mat-typography">
        <div>
            <div *ngIf="isAddedFailled" class="alert alert-danger" role="alert">
                Une erreur s'est produit lors de la soumission du formulaire.<br />
                Veuillez vérifier les champs et essayer de nouveau.
            </div>
            <mat-form-field class="full-width">
                <mat-label>Nom du projet</mat-label>
                <input matInput placeholder="Nom du projet" formControlName="projectName">
                <mat-error *ngFor="let validation of validationMessages.projectName">
                    <mat-error class="error-message" 
                    *ngIf="newProjectForm.get('projectName').hasError(validation.type) &&
                    ((newProjectForm.get('projectName').dirty || newProjectForm.get('projectName').touched))">
                        {{validation.message}}
                    </mat-error>
                </mat-error>
                
            </mat-form-field>
        </div>
        <div>
            <mat-slide-toggle (ngModelChange)="isChildChecked($event)" formControlName="isChild">
                Est enfant?
            </mat-slide-toggle>
        </div>
        <div *ngIf="newProjectForm.value.isChild">
            <ng-select [items]="parentNameOptions"
                    bindLabel="nomAffichage"
                    placeholder="Select item"
                    appendTo="body"
                    formControlName="parentName">
            </ng-select>
            <mat-error *ngFor="let validation of validationMessages.parentName">
                <mat-error class="error-message" 
                *ngIf="newProjectForm.get('parentName').hasError(validation.type) && 
                ((newProjectForm.get('parentName').dirty || newProjectForm.get('parentName').touched))">
                    {{validation.message}}
                </mat-error>
            </mat-error>
        </div>
  
    </mat-dialog-content>
    <pre>{{newProjectForm.value | json}}</pre>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Anuler</button>
        <button mat-button type="submit" [disabled]="newProjectForm.invalid">Ajouter</button>
    </mat-dialog-actions>
</form>   