    
    
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Prénom :</label><br>
            <input type="text" id="name" name="name" formControlName="name"><br>
            

            <label for="lname">Nom de Famille:</label><br>
            <input type="text" id="lname" name="lname" formControlName="lname"><br>

            <label for="lname">Adresse Courriel :</label><br>
            <input type="email" id="email" name="email" formControlName="email"><br>             
         
        </div>     
        <button type="submit" [disabled]="userForm.invalid">Creer</button>
        
      </form>