<div>
  <h2 mat-dialog-title>Supprimer une ligne de temps</h2>
  <div mat-dialog-content>
    <p>Vous êtes sur le point du supprimer les informations suivantes :</p>
    <mat-divider></mat-divider>
    <p>Horaire: {{ data.day_of_week }} | {{ data.punch_in }} à {{ data.punch_out }}</p>
    <p>Membre : {{ data.first_name }} {{ data.last_name }}</p>
    <p>Projet : {{ data.project_name }}</p>
    <p>Activité : {{ data.activity_name }}</p>
    <p>Dépense: {{ data.expense_name }}</p>
    <mat-divider></mat-divider>
    <p>Voulez-vous vraiment supprimer cette ligne de temps?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="delete-confirm-button" [mat-dialog-close]="data" cdkFocusInitial>Confirmer</button>
    <button mat-button class="delete-cancel-button" [mat-dialog-close]="canceledMessage">Annuler</button>
  </div>
</div>  