<mat-toolbar class="header">
    <mat-toolbar-row>
      <a style="text-decoration:none;" [routerLink]="'/'"><h1 style="color:white;">PCube</h1></a>
      <span class="example-spacer"></span>
      <div>
        <a mat-button class="white" [routerLink]="'/'">Accueil</a>
        <a mat-button class="white" [routerLink]="'/contactez-nous'">Contactez Nous</a>
        <a mat-button class="white" href="http://www.lepetitpeuple.org/">Le Petit Peuple</a>
        <a mat-button class="white" href="https://www.facebook.com/Lepetitpeuple">Facebook</a>
      </div>
      <mat-menu #appMenu="matMenu">
        <mat-list>
          <mat-list-item>
            <div class="header-name" matLine>{{ user.last_name | titlecase }}, {{ user.first_name | titlecase }}</div>
            <div matLine>{{ user.email | lowercase}}</div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="logout-button-container" (click)="logout()">
              <span class="logout-button"><mat-icon>logout</mat-icon><span class="logout-button">Déconnexion</span></span>
          </mat-list-item>
          </mat-list>
      </mat-menu>
      
      <button id="header-profile" mat-button [matMenuTriggerFor]="appMenu">
        <mat-icon>account_circle</mat-icon>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      
    </mat-toolbar-row>
</mat-toolbar>